In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_excel('/home/jefferyp/Documents/projects/Cashflow_Forecasting/selectionscashflows_2024.xlsx')

In [3]:
df_obj = df.select_dtypes('object')

In [4]:
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())

In [5]:
# df2 = df.melt(['Activity', 'Total'], var_name='Date', value_name='Measure')
# df2.loc[df2['Activity']=='Credit Card Receivable'].fillna(0)

In [6]:
df3 = df.melt(['Activity'], var_name='Date', value_name='Measure').fillna(0)
# df3.loc[df3['Activity']=='Credit Card Receivable'].fillna(0)

In [7]:
df3 = df3.drop(df3[df3['Measure'] == 0].index)
# df3

In [8]:
df_totals = df3.groupby(['Activity']).sum('Measure')

In [9]:
df_totals = df_totals.drop(df_totals[df_totals['Measure'] == 0].index)
# df_totals

In [10]:
mask = df3['Measure'] < 0
df3['cash_inflow'] = df3['Measure'].mask(mask)
df3['cash_outflow'] = df3['Measure'].mask(~mask)
df4 = df3.drop(['Measure'], axis=1).fillna(0)

In [11]:
df4['net_cash_flow'] = df4['cash_inflow'] - df4['cash_outflow'].abs()

In [12]:
index_names = df4[df4['Date'] == 'Total'].index 
df4.drop(index_names, inplace = True)

In [13]:
# df4['date_of_sale'] = datetime.strptime(df4['Date'], '%B %d, %Y').strptime('%Y-%m-%d')
df4['Date'] = list(map(lambda x: datetime.strptime(x,'%b %d, %Y').strftime('%m/%d/%Y'), df4['Date']))

In [14]:
df4['Date'] = pd.to_datetime(df4['Date'] )
# df4

In [15]:
sf = pd.read_csv('/home/jefferyp/Documents/projects/Cashflow_Forecasting/2024_sales_cogs_export.csv')

In [21]:
sf['Date'] = pd.to_datetime(sf['date_of_sale'])
sf = sf.drop(['date_of_sale'], axis=1)

In [22]:
sf.head()

   gross_sales    cogs       Date
0        49.00   18.60 2024-01-01
1       418.18   40.08 2024-01-02
2       779.70  284.25 2024-01-03
3      1231.11  521.58 2024-01-04
4       962.33  305.97 2024-01-05

In [27]:
# df_merge = df4.merge(sf, how='cross')
df_merge = pd.merge(df4, sf, on='Date')

In [34]:
df_merge.head(20)

,Activity,Date,cash_inflow,cash_outflow,net_cash_flow,gross_sales,cogs
0,Net Income,2024-01-01,0.00,-1345.95,-1345.95,49.00,18.60
1,11003 BG Blue Amex - GG,2024-01-01,1136.95,0.00,1136.95,49.00,18.60
2,3079 Chase CC - BGG,2024-01-01,0.00,-39.00,-39.00,49.00,18.60
3,63008 Amex Business Platinum CC - GG,2024-01-01,209.00,0.00,209.00,49.00,18.60
4,Total Adjustments to reconcile Net Income to N...,2024-01-01,1306.95,0.00,1306.95,49.00,18.60
5,Net cash provided by operating activities,2024-01-01,0.00,-39.00,-39.00,49.00,18.60
6,Retained Earnings,2024-01-01,13535.04,0.00,13535.04,49.00,18.60
7,Net cash provided by financing activities,2024-01-01,13535.04,0.00,13535.04,49.00,18.60
8,Net cash increase for period,2024-01-01,13496.04,0.00,13496.04,49.00,18.60
9,Net Income,2024-01-02,0.00,-244.85,-244.85,418.18,40.08
10,Credit Card Receivable,2024-01-02,938.20,0.00,938.20,418.18,40.08
11,11003 BG Blue Amex - GG,2024-01-02,453.50,0.00,453.50,418.18,40.08
12,Direct Deposit Payable,2024-01-02,0.00,-2108.98,-2108.98,418.18,40.08
13,Total Adjustments to reconcile Net Income to N...,2024-01-02,0.00,-717.28,-717.28,418.18,40.08
14,Net cash provided by operating activities,2024-01-02,0.00,-962.13,-962.13,418.18,40.08
15,Net cash increase for period,2024-01-02,0.00,-962.13,-962.13,418.18,40.08
16,Net Income,2024-01-03,0.00,-62.50,-62.50,779.70,284.25
17,Credit Card Receivable,2024-01-03,3946.18,0.00,3946.18,779.70,284.25
18,11003 BG Blue Amex - GG,2024-01-03,62.50,0.00,62.50,779.70,284.25
19,Sales tax payable,2024-01-03,0.00,-24.00,-24.00,779.70,284.25

In [46]:
df4_totals = df4.groupby(['Activity']).sum('net_cash_flow')

In [47]:
df4_totals

,cash_inflow,cash_outflow,net_cash_flow
Activity,,,
11003 BG Blue Amex - GG,32643.85,-37844.20,-5200.35
3079 Chase CC - BGG,0.00,-39.00,-39.00
3656 Chase CC - SEL:Chase Ink #4304 (Jeff),922.92,0.00,922.92
3656 Chase CC - SEL:Chase Ink #8502 (Danielle),4589.95,-6471.44,-1881.49
4003 Chase Business Credit Line - SEL,8899.28,-9169.99,-270.71
63008 Amex Business Platinum CC - GG,228878.32,-218121.06,10757.26
7001 Chase Business Credit Line - GG,18716.42,-15607.34,3109.08
73003 Business Platinum CC - SEL,37809.46,-37711.65,97.81
AP Clearing Inventory Purchases,0.00,-19547.78,-19547.78
Accounts Receivable,750.00,-2250.00,-1500.00
Accrued Interest,0.00,-2561.93,-2561.93
Credit Card Receivable,414245.43,-421621.00,-7375.57
Credit Card Receivables,0.00,-50.15,-50.15
Direct Deposit Payable,4079.63,-6188.61,-2108.98
Equity Recon Adjustment,0.00,-493.67,-493.67
Inventory Asset,57908.72,-30500.15,27408.57
LH Imprv - G3 BG,979.19,0.00,979.19
N/P - Space Age Credit Union,0.00,-1302.41,-1302.41
Net Income,696158.76,-345279.24,350879.52
Net cash increase for period,750822.26,-367723.92,383098.34
Net cash provided by financing activities,13691.04,-23248.87,-9557.83
Net cash provided by investing activities,979.19,0.00,979.19
Net cash provided by operating activities,748475.27,-356798.29,391676.98
Owner Distributions,156.00,-21452.79,-21296.79
Payroll Liabilities,0.00,-17231.56,-17231.56
Payroll Liabilities:CO Income Tax,3894.00,-1643.00,2251.00
Payroll Liabilities:CO Local Tax,250.75,0.00,250.75
Payroll Liabilities:CO Paid Family and Medical Leave,484.60,-188.49,296.11
Payroll Liabilities:CO Unemployment Tax,1297.52,-292.04,1005.48
Payroll Liabilities:Federal Taxes (941/943/944),15594.10,-4975.66,10618.44
Payroll Liabilities:Federal Unemployment (940),268.02,-99.12,168.90
Prepaid Expenses,2734.92,0.00,2734.92
Retained Earnings,13535.04,0.00,13535.04
Sales tax payable,29128.81,-46708.88,-17580.07
Shopify Loan,87337.75,-30813.94,56523.81
Total Adjustments to reconcile Net Income to Net Cash provided by operations:,673804.01,-633006.55,40797.46

In [48]:
df_totals = df_merge.groupby(['Activity']).sum('net_cash_flow')

In [49]:
df_totals

,cash_inflow,cash_outflow,net_cash_flow,gross_sales,cogs
Activity,,,,,
11003 BG Blue Amex - GG,32643.85,-37844.20,-5200.35,131715.64,53471.91
3079 Chase CC - BGG,0.00,-39.00,-39.00,49.00,18.60
3656 Chase CC - SEL:Chase Ink #4304 (Jeff),922.92,0.00,922.92,19543.36,8180.85
3656 Chase CC - SEL:Chase Ink #8502 (Danielle),4589.95,-6471.44,-1881.49,35856.34,14506.10
4003 Chase Business Credit Line - SEL,8899.28,-9169.99,-270.71,27543.94,11180.90
63008 Amex Business Platinum CC - GG,228878.32,-218121.06,10757.26,349367.45,141642.94
7001 Chase Business Credit Line - GG,18716.42,-15607.34,3109.08,32798.52,13421.55
73003 Business Platinum CC - SEL,37809.46,-37711.65,97.81,307402.39,124782.70
AP Clearing Inventory Purchases,0.00,-19547.78,-19547.78,1979.00,766.70
Accounts Receivable,750.00,-2250.00,-1500.00,7565.04,3250.06
Accrued Interest,0.00,-2561.93,-2561.93,920.90,386.50
Credit Card Receivable,414245.43,-421621.00,-7375.57,316161.15,127778.72
Credit Card Receivables,0.00,-50.15,-50.15,3188.29,1418.80
Direct Deposit Payable,4079.63,-6188.61,-2108.98,6018.08,2398.79
Equity Recon Adjustment,0.00,-493.67,-493.67,920.90,386.50
Inventory Asset,57908.72,-30500.15,27408.57,18881.04,7747.16
LH Imprv - G3 BG,979.19,0.00,979.19,920.90,386.50
N/P - Space Age Credit Union,0.00,-1302.41,-1302.41,5008.33,2168.16
Net Income,696158.76,-345279.24,350879.52,486087.13,196480.93
Net cash increase for period,750822.26,-367723.92,383098.34,438272.44,176305.13
Net cash provided by financing activities,13691.04,-23248.87,-9557.83,116479.70,47091.71
Net cash provided by investing activities,979.19,0.00,979.19,920.90,386.50
Net cash provided by operating activities,748475.27,-356798.29,391676.98,436749.99,175742.55
Owner Distributions,156.00,-21452.79,-21296.79,110501.47,44518.45
Payroll Liabilities,0.00,-17231.56,-17231.56,31690.24,12873.91
Payroll Liabilities:CO Income Tax,3894.00,-1643.00,2251.00,42921.55,17480.72
Payroll Liabilities:CO Local Tax,250.75,0.00,250.75,27621.23,11372.06
Payroll Liabilities:CO Paid Family and Medical Leave,484.60,-188.49,296.11,42921.55,17480.72
Payroll Liabilities:CO Unemployment Tax,1297.52,-292.04,1005.48,38729.23,15781.25
Payroll Liabilities:Federal Taxes (941/943/944),15594.10,-4975.66,10618.44,42462.13,17560.30
Payroll Liabilities:Federal Unemployment (940),268.02,-99.12,168.90,35768.20,14758.30
Prepaid Expenses,2734.92,0.00,2734.92,920.90,386.50
Retained Earnings,13535.04,0.00,13535.04,49.00,18.60
Sales tax payable,29128.81,-46708.88,-17580.07,71531.23,29226.89
Shopify Loan,87337.75,-30813.94,56523.81,221724.55,88828.01
Total Adjustments to reconcile Net Income to Net Cash provided by operations:,673804.01,-633006.55,40797.46,477450.88,193239.58

In [50]:
!pwd

/home/jefferyp/Documents/projects/Cashflow_Forecasting

In [51]:
df_merge.to_csv('/home/jefferyp/Documents/projects/Cashflow_Forecasting/cashflow_2024.csv', index=False)